# Assignment-4

Name: Anish kumar

Regd. no: 2241011101

Section: 2241007

1. What is a List Object in Python? Write the syntax, how we create a List object? For the following
   create List object of each scenario and display the output.
   
   (a) List of vowels.

   (b) List of consonants.

   (c) List of even integers within 1 to 20.

   (d) List of odd integers within 1 to 20.

   (e) List of all subjects in this semester.

   (f) List of all subject codes in this semester.

   (g) List of temperatures from last 10 days.

In [6]:
# (a) List of vowels.
n=(int)(input('Enter the range: '))
L=[]
for i in range(n):
    alphabet=input('Enter the alphabet: ')
    if alphabet in 'aeiouAEIOU':
        L.append(alphabet)
print('List of vowels:',L)

Enter the range: 5
Enter the alphabet: 1
Enter the alphabet: e
Enter the alphabet: 4
Enter the alphabet: 5
Enter the alphabet: a
List of vowels: ['e', 'a']

In [7]:
# (b) List of consonants.
n=(int)(input('Enter the range: '))
L=[]
for i in range(n):
    alphabet=input('Enter the alphabet: ')
    if alphabet not in 'aeiouAEIOU':
        L.append(alphabet)
print('List of consonants:',L)

Enter the range: 5
Enter the alphabet: 1
Enter the alphabet: e
Enter the alphabet: 2
Enter the alphabet: 3
Enter the alphabet: 4
List of consonants: ['1', '2', '3', '4']

In [1]:
# (c) List of even integers within 1 to 20.
L=[]
for i in range(20):
    if i%2==0:
        L.append(i)
print(L)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [2]:
# (d) List of odd integers within 1 to 20.
L=[]
for i in range(20):
    if i%2!=0:
        L.append(i)
print(L)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [5]:
# (e) List of all subjects in this semester.
l=['DSW1','AD1','PS','DLD','PME']
print('subjects:',l)

subjects: ['DSW1', 'AD1', 'PS', 'DLD', 'PME']

In [6]:
# (f) List of all subject codes in this semester.
l=[2195,1211,3131,2002,2021]
print('subject codes:',l)

subject codes: [2195, 1211, 3131, 2002, 2021]

In [9]:
# (g) List of temperatures from last 10 days.
temp=['29*','33*','31*','28*','25*','39*','44*','32*','41*','30*']
print('temp:',temp)

temp: ['29*', '33*', '31*', '28*', '25*', '39*', '44*', '32*', '41*', '30*']

2. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down every
output in your assignment copy.

In [8]:
# (a)
listObj = range(15)
print(listObj)
list(listObj)

range(0, 15)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
# (b)
someList = ["Bob", "Joe", "Will", 55, "Will", "XXXXX", 100.55]
print(someList)
print(type(someList))
print(someList[0])
print(someList[-1])
print(someList[3])
print(someList[-3])
print(someList[2])
print(someList[2:5])
print(someList[-4:-1])
print(someList[:5])
print(someList[2:])
print(someList[:])
print(someList[0:6:2])
print(someList[::2])
print(someList[::-1])
print(someList[1:5:2])

['Bob', 'Joe', 'Will', 55, 'Will', 'XXXXX', 100.55]
<class 'list'>
Bob
100.55
55
Will
Will
['Will', 55, 'Will']
[55, 'Will', 'XXXXX']
['Bob', 'Joe', 'Will', 55, 'Will']
['Will', 55, 'Will', 'XXXXX', 100.55]
['Bob', 'Joe', 'Will', 55, 'Will', 'XXXXX', 100.55]
['Bob', 'Will', 'Will']
['Bob', 'Will', 'Will', 100.55]
[100.55, 'XXXXX', 'Will', 55, 'Will', 'Joe', 'Bob']
['Joe', 55]

In [10]:
# (c)
list1 = [2, 3, 7, None]
list2 = ["foo", "bar", "baz"]
list2 = list1
list2[2] = "SampleText"
print(list1)
print(list1[2])
print(list2[2])
print(list2)

[2, 3, 'SampleText', None]
SampleText
SampleText
[2, 3, 'SampleText', None]

In [19]:
# (d)
wordList = ['foo', 'bar', 'baz']
wordList[2] = "peekaboo"
print(wordList)
wordList.append("dwarf") # insert the element 'e' at the end of the list
print(wordList)
wordList.insert(1, "red") # Inserts element e at index i in the list L
print(wordList)
wordList.pop(2) # Returns the element from the list L at index i, while removing it from the list.
print(wordList)
wordList.append("foo")
print(wordList)
wordList.remove("foo") #Removes the first occurrence of the element e in the List L.
print(wordList)
"dwarf" in wordList
"dwarf" not in wordList

['foo', 'bar', 'peekaboo']
['foo', 'bar', 'peekaboo', 'dwarf']
['foo', 'red', 'bar', 'peekaboo', 'dwarf']
['foo', 'red', 'peekaboo', 'dwarf']
['foo', 'red', 'peekaboo', 'dwarf', 'foo']
['red', 'peekaboo', 'dwarf', 'foo']

False

In [11]:
# (e)
[4, None, "foo"] + [7, 8, 2, 3]
list1 = [4, None, "foo"] + [7, 8, 2, 3]
print(list1)
x = ['A', ('B', 'C')]
print(x)
x.extend(list1)
print(x)
print(list1)
a = [7, 2, 5, 1, 3, 73, 51, 7, 3, 9, 11, 1, 1, 10, 9]
print(a)
a.sort()
print(a)

b = ["saw", "small", "He", "foxes", "six"]
print(b)
b.sort(key=len)
print(b)
b.sort()
print(b)

[4, None, 'foo', 7, 8, 2, 3]
['A', ('B', 'C')]
['A', ('B', 'C'), 4, None, 'foo', 7, 8, 2, 3]
[4, None, 'foo', 7, 8, 2, 3]
[7, 2, 5, 1, 3, 73, 51, 7, 3, 9, 11, 1, 1, 10, 9]
[1, 1, 1, 2, 3, 3, 5, 7, 7, 9, 9, 10, 11, 51, 73]
['saw', 'small', 'He', 'foxes', 'six']
['He', 'saw', 'six', 'small', 'foxes']
['He', 'foxes', 'saw', 'six', 'small']

3. Develop Python Programs for the following below scenario.

(a) Write a Python Program which will prompt user to ask a range of integer(lower limit and higher
limit) value. Once you receive the input values from the user programmatically store odd numbers
and even numbers into separate list objects and display them as output.

In [15]:
E=[]
O=[]
ll=(int)(input('Enter lower limit:'))
hl=(int)(input('Enter higher limit:'))
for i in range(ll,hl,1):
    if i%2==0:
        E.append(i)
    else:
        O.append(i)
print('Even:',E)
print('Odd:',O)

Enter lower limit:0
Enter higher limit:20
Even: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
Odd: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

(b) Write a Python Program which will prompt user to enter a positive integer value. Once you receive
the input, find factors of the integer and store into a list objects and display them as output.

In [20]:
L=[]
x=(int)(input('Enter no:'))
for i in range(1,x):
    if x%i==0:
        L.append(i)
print('Factors of',x,'is:',L)

Enter no:9
Factors of 9 is: [1, 3]

(c) Write a Python Program which will prompt user to enter a range of integer(lower limit and higher
limit) value, list down all prime numbers and composite numbers into separate list objects and
display them.

In [59]:
def isPrime(n):
    c=0
    if n<2:
        return False
    for i in range (1,n+1):
        if n%i==0:
            c=c+1
    if c==2:
        return True
    else:
        return False
PN=[]
CN=[]
ll=(int)(input('Enter lower limit:'))
hl=(int)(input('Enter higher limit:'))
for i in range(ll,hl):
    if isPrime(i):
        PN.append(i)
    else:
        CN.append(i)
print('Prime no:',PN)
print('Complex no:',CN)

Enter lower limit:0
Enter higher limit:20
Prime no: [2, 3, 5, 7, 11, 13, 17, 19]
Complex no: [0, 1, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18]

4. What is a Tuple Object in Python? Write the syntax, how we create a Tuple object? For the following
scenario create Tuple object of each scenario and display them as output.

(a) Tuple of few student’s information such as roll number, name, branch, specialization, mobile,
email id etc.

In [25]:
rollNo=(1101,1102,1103,1104,1105)
name=('Anish','Raj','Shivam','Suraj','Ayush')
branch=('CSE','EEE','ECE','CIVIL','CSIT')
specialization=('DS','IOT','CS','AIML','CSE')
mobileNo=(1234567890,9876543210,1237894560,7891234560,4561237890)
emailId=('anish123@gmail.com','raj456@gmail.com','shivam789@gmail.com','suraj098@gmai.com','ayush765@gmail.com')

for i in range (len(emailId)):
    print('roll number:',rollNo[i])
    print('name:',name[i])
    print('branch:',branch[i])
    print('specialization:',specialization[i])
    print('mobile no:',mobileNo[i])
    print('email id:',emailId[i])
    print()

roll number: 1101
name: Anish
branch: CSE
specialization: DS
mobile no: 1234567890
email id: anish123@gmail.com

roll number: 1102
name: Raj
branch: EEE
specialization: IOT
mobile no: 9876543210
email id: raj456@gmail.com

roll number: 1103
name: Shivam
branch: ECE
specialization: CS
mobile no: 1237894560
email id: shivam789@gmail.com

roll number: 1104
name: Suraj
branch: CIVIL
specialization: AIML
mobile no: 7891234560
email id: suraj098@gmai.com

roll number: 1105
name: Ayush
branch: CSIT
specialization: CSE
mobile no: 4561237890
email id: ayush765@gmail.com

(b) Tuple of few book’s information such as ISBN Number, book title, category, author, number of authors etc.

In [33]:
ISBN_Number=('978-0-13-475706-0','978-1-23-456789-0','978-3-45-678901-2')
book_title=('Introduction to Python','Data Science Essentials','The Art of Fiction',)
category=('Programming','Data Science','Fiction')
author=('John Smith','Jane Doe','Alice Johnson')
numberOfAuthors=(1,1,1)

for i in range(len(ISBN_Number)):
    print('ISBN Number:',ISBN_Number[i])
    print('Book title:',book_title[i])
    print('Category:',category[i])
    print('Author:',author[i])
    print('Number of authors:',numberOfAuthors[i])
    print()

ISBN Number: 978-0-13-475706-0
Book title: Introduction to Python
Category: Programming
Author: John Smith
Number of authors: 1

ISBN Number: 978-1-23-456789-0
Book title: Data Science Essentials
Category: Data Science
Author: Jane Doe
Number of authors: 1

ISBN Number: 978-3-45-678901-2
Book title: The Art of Fiction
Category: Fiction
Author: Alice Johnson
Number of authors: 1

(c) Tuple of few parts of a vehicle.

In [4]:
sedanParts=("Engine","Wheels","Transmission","Steering Wheel","Brake System")
suvParts=("Engine","Large Tires","Four-Wheel Drive System","Power Steering","Advanced Brake System")

print("Sedan Parts:",sedanParts)
print("SUV Parts:",suvParts)

Sedan Parts: ('Engine', 'Wheels', 'Transmission', 'Steering Wheel', 'Brake System')
SUV Parts: ('Engine', 'Large Tires', 'Four-Wheel Drive System', 'Power Steering', 'Advanced Brake System')

(d) Tuple of few institution details such as name of the institute, departments, no. of students, address etc.

In [8]:
institution1 = ("SOA University",["Computer Science","Electrical Engineering","Physics"],5000,"Bhubansewar, Odisha")
print("Institution 1 Details:",institution1)
institution2 = ("Jawaharlal Nehru University",["Biology","Chemistry","Mathematics"],3000,"New Delhi, Delhi")
print("Institution 2 Details:",institution2)

Institution 1 Details: ('SOA University', ['Computer Science', 'Electrical Engineering', 'Physics'], 5000, 'Bhubansewar, Odisha')
Institution 2 Details: ('Jawaharlal Nehru University', ['Biology', 'Chemistry', 'Mathematics'], 3000, 'New Delhi, Delhi')

(e) Create tuple objects from List objects at all scenario in Question No. 1.

1. What is a List Object in Python? Write the syntax, how we create a List object? For the following
   create List object of each scenario and display the output.
   
   (a) List of vowels.

   (b) List of consonants.

   (c) List of even integers within 1 to 20.

   (d) List of odd integers within 1 to 20.

   (e) List of all subjects in this semester.

   (f) List of all subject codes in this semester.

   (g) List of temperatures from last 10 days.

5. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down ev
ery output in your assignment copy.

In [18]:
# (a) 
tupleObj=(4, 5, 6, "Ram", "Hari", 120.5643)
print(tupleObj)
print(type(tupleObj))

print(tuple((2, 5, 1, 9, 5, 3, 8)))

print(tuple((4, 5, 6)))
print(type(tuple((4, 5, 6))))

x=tuple([2, 5, 1, 9, 5, 3, 8])
print(x)
y=x
print(type(y))

tupleObj=tuple('string')
print(tupleObj)

(4, 5, 6, 'Ram', 'Hari', 120.5643)
<class 'tuple'>
(2, 5, 1, 9, 5, 3, 8)
(4, 5, 6)
<class 'tuple'>
(2, 5, 1, 9, 5, 3, 8)
<class 'tuple'>
('s', 't', 'r', 'i', 'n', 'g')

In [22]:
# (b)
someList = ["Bob", "Joe", "Will", 55, "Will", "XXXXX", 100.55]
someTuple = tuple(someList)
print(type(someTuple))
print(someTuple[0])
print(someTuple[-1])
print(someTuple[3])
print(someTuple[-3])
print(someTuple[2])
print(someTuple[2:5])
print(someTuple[-4:-1])
print(someTuple[:5])
print(someTuple[2:])
print(someTuple[:])
print(someTuple[0:6:2])
print(someTuple[::2])
print(someTuple[::-1])
print(someTuple[1:5:2])

<class 'tuple'>
Bob
100.55
55
Will
Will
('Will', 55, 'Will')
(55, 'Will', 'XXXXX')
('Bob', 'Joe', 'Will', 55, 'Will')
('Will', 55, 'Will', 'XXXXX', 100.55)
('Bob', 'Joe', 'Will', 55, 'Will', 'XXXXX', 100.55)
('Bob', 'Will', 'Will')
('Bob', 'Will', 'Will', 100.55)
(100.55, 'XXXXX', 'Will', 55, 'Will', 'Joe', 'Bob')
('Joe', 55)

In [30]:
# (c)
nestedTuple=(4, 5, 6), (7, 8)
print(nestedTuple)
print(nestedTuple[1])

((4, 5, 6), (7, 8))
(7, 8)

In [14]:
tup=tuple(['foo', [1, 2], True])
tup[1].append(3)
print(tup)

print()
print(type(tup))
print(type(tup[0]))
print(type(tup[1]))
print(type(tup[2]))

('foo', [1, 2, 3], True)

<class 'tuple'>
<class 'str'>
<class 'list'>
<class 'bool'>

In [20]:
tup=tuple(['foo', [1, 2], True])
# tup[1].append(False)
tup[2]=False # tuple are immutable & list are mutable
print(tup)

TypeError: 'tuple' object does not support item assignment

In [33]:
print(list2)

NameError: name 'list2' is not defined

In [40]:
# (d)
tup=(4, 5, 6)
a,b,c=tup
b

5

In [42]:
tup=4,5,(6,7)
a,b,(c,d)=tup
d

7

In [44]:
a,b=1,2
a,b=b,a
print(a)
print(b)

2
1

In [46]:
# myself
a,b=1,2
a,b=a,b
print(a)
print(b)

1
2

In [47]:
seq=[(1, 2, 3),(4, 5, 6),(7, 8, 9)]
for a,b,c in seq:
    print(f'a=a, b=b, c=c')

a=a, b=b, c=c
a=a, b=b, c=c
a=a, b=b, c=c

In [49]:
values=1,2,3,4,5
a,b,*rest=values
a
b
rest

[3, 4, 5]

In [26]:
# (e)
(4, None, 'foo') + (6, 0) + ('bar',)
tuple1 = (4, None, 'foo') + (6, 0) + ('bar',)
print(tuple1)
('foo', 'bar') * 4
a=(1, 7, 2, 7, 2, 2, 7, 3, 7, 4, 7, 7, 2, 7)
print(a.count(7))
len(a)

(4, None, 'foo', 6, 0, 'bar')
7

14

6. Develop Python Programs for the following below scenario.

(a) Write a Python Program which will prompt user to ask enter his/her name, department, mobile
number, roll number etc. Once you receive the input values from the user programmatically store
these values into tuple objects and finally display them as output. Try to enter details for at least 5
objects.

In [62]:
# a
l=[]
for i in range (1):
    n=str(input('Enter his/her name: '))
    d=str(input('Enter department: '))
    m=str(input('Enter mobile number: '))
    r=str(input('Enter roll number: '))
    t=(n,d,m,r)
    l.append(t)
print(l)

Enter his/her name: Anish kumar
Enter department: CSE
Enter mobile number: 1234567890
Enter roll number: 2241011101
[('Anish kumar', 'CSE', '1234567890', '2241011101')]

6. (b) For all of the questions provided in Question No. 3, try to store all those values into Tuple objects display them.

(3) Develop Python Programs for the following below scenario.

(a) Write a Python Program which will prompt user to ask a range of integer(lower limit and higher
limit) value. Once you receive the input values from the user programmatically store odd numbers
and even numbers into separate list objects and display them as output.

(b) Write a Python Program which will prompt user to enter a positive integer value. Once you receive the input, find factors of the integer and store into a list objects and display them as output.

(c) Write a Python Program which will prompt user to enter a range of integer(lower limit and higher
limit) value, list down all prime numbers and composite numbers into separate list objects and
display them.

In [50]:
LE=[]
LO=[]
ll=int(input('Enter lower limit:'))
hl=int(input('Enter higher limit:'))
for i in range(ll,hl,1):
    if i%2==0:
        LE.append(i)
    else:
        LO.append(i)
TE=tuple(LE)
TO=tuple(LO)
print(TE,type(TE))
print(TO,type(TO))

Enter lower limit:9
Enter higher limit:22
(10, 12, 14, 16, 18, 20) <class 'tuple'>
(9, 11, 13, 15, 17, 19, 21) <class 'tuple'>

In [51]:
L=[]
n=int(input('enter a positive integer value: '))
for i in range(1,n):
    if n%i==0:
        L.append(i)
T=tuple(L)
print('factors are:')
print(T,type(T))

enter a positive integer value: 9
factors are:
(1, 3) <class 'tuple'>

In [57]:
def isPrime(n):
    c=0
    if n<2:
        return False
    for i in range (1,n+1):
        if n%i==0:
            c=c+1
    if c==2:
        return True
    else:
        return False
        
LP=[]
LC=[]
ll=int(input('Enter lower limit:'))
hl=int(input('Enter higher limit:'))
for i in range(ll,hl,1):
    if isPrime(i):
        LP.append(i)
    else:
        LC.append(i)
    
TP=tuple(LP)
TC=tuple(LC)
print(TP,type(TP))
print(TC,type(TC))

Enter lower limit:9
Enter higher limit:22
(11, 13, 17, 19) <class 'tuple'>
(9, 10, 12, 14, 15, 16, 18, 20, 21) <class 'tuple'>

7. What is a Dictionary Object in Python? Write the syntax, how we create a Dictionary object? For
the following questions create Dictionary object of each scenario and display them as output.

(a) Dictionary of few peoples as key and their mobile numbers as values(at least for 10 key).

(b) Dictionary of few books as key and their authors(authors should be a list object) as values.

(c) Dictionary of different types numbers(such as prime, composite, even, odd etc.) as keys and their
examples as values.

(d) Dictionary of engineering branches as keys and their specializations as values.

(e) Dictionary of employee ids as keys and their details(as tuple) as values.

(f) Dictionary of subject code as key and subject details(as list) such as course name, reference book,teacher name, department etc. as values.

In [27]:
# (a)
D={'Anish':1234567890,'Raj':9876543210,'Ayush':1237894560,'Shivam':7891234560,'Suraj':4561237890}
print(D)

{'Anish': 1234567890, 'Raj': 9876543210, 'Ayush': 1237894560, 'Shivam': 7891234560, 'Suraj': 4561237890}

In [46]:
# (b)
D={'Introduction to Python':['John Smith'],
   'Data Science Essentials':['Jane Doe'],
   'The Art of Fiction':['Alice Johnson']}
print(D)

{'Introduction to Python': ['John Smith'], 'Data Science Essentials': ['Jane Doe'], 'The Art of Fiction': ['Alice Johnson']}

In [49]:
# (c)
D={'prime':[11, 13, 17, 19],
  'composite':[9, 10, 12, 14, 15, 16, 18, 20, 21, 22],
  'even':[10,12,14,16,18,20,22],
  'odd':[9,11,13,15,17,19,21]}
print(D)

{'prime': [11, 13, 17, 19], 'composite': [9, 10, 12, 14, 15, 16, 18, 20, 21, 22], 'even': [10, 12, 14, 16, 18, 20, 22], 'odd': [9, 11, 13, 15, 17, 19, 21]}

In [55]:
# (d)
D={'CSE':['Data Science','Internet of Things','Cyber Security','Artificial Intelligence & Machine Learning'],
  'Civil':['Environmental Eng.','Geotechnical Eng.','Transportation Eng.'],
  'Mechanical':['Fluid Mechanics', 'Machine Design & Solid Mechanics', 'Materials Engineering & Processing']}
print(D)

{'CSE': ['Data Science', 'Internet of Things', 'Cyber Security', 'Artificial Intelligence & Machine Learning'], 'Civil': ['Environmental Eng.', 'Geotechnical Eng.', 'Transportation Eng.'], 'Mechanical': ['Fluid Mechanics', 'Machine Design & Solid Mechanics', 'Materials Engineering & Processing']}

In [7]:
# (e)
D={1101:('Anish',1234567890,'anish123@gmail.com'),
  1102:('Raj',9876543210,'raj456@gmail.com'),
  1103:('Suraj',1237894560,'suraj098@gmai.com')}
print(D)

# print(D.get(1101))
# print(type(D.get(1101)))

{1101: ('Anish', 1234567890, 'anish123@gmail.com'), 1102: ('Raj', 9876543210, 'raj456@gmail.com'), 1103: ('Suraj', 1237894560, 'suraj098@gmai.com')}

In [2]:
# (f)
D={'CSE2195':['Data Science Workshop 1','Book- Python for Data Analysis: Data Wrangling with pandass','Teacher- Ashis Kumar Pati'],
   'MTH2002':['Probablity And Statistics','Book- Probablity And Statistics for Engineers and Scientists by Walpole and Myers','Teacher- Satyananda Mohapatra'],
   'CSE3131':['Algoriths Design 1','Book- Algorithm Design by kleinberg and Tardos, Pearson India','Teacher- Prajukta Tripathy']}
print(D)

{'CSE2195': ['Data Science Workshop 1', 'Book- Python for Data Analysis: Data Wrangling with pandass', 'Teacher- Ashis Kumar Pati'], 'MTH2002': ['Probablity And Statistics', 'Book- Probablity And Statistics for Engineers and Scientists by Walpole and Myers', 'Teacher- Satyananda Mohapatra'], 'CSE3131': ['Algoriths Design 1', 'Book- Algorithm Design by kleinberg and Tardos, Pearson India', 'Teacher- Prajukta Tripathy']}

 8. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down every
 output in your assignment copy.

In [6]:
# (a)
dictObj = {"fruits": ["banana", "apple", "guava", "jackfruit"], "colors": ("red", "blue", "green"),
           "int": 165, "float": 99.56, "string":"some sample text"}
print(dictObj)
print(type(dictObj))

dictObj[10] = "New added value"
print(dictObj)
print(dictObj[10])
print(dictObj["int"])
print(dictObj["colors"])

print(dictObj[10])

{'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text'}
<class 'dict'>
{'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text', 10: 'New added value'}
New added value
165
('red', 'blue', 'green')
New added value

In [4]:
dict("key":"value")

SyntaxError: invalid syntax (3819451231.py, line 1)

In [5]:
print(dictObj["10"])

KeyError: '10'

In [6]:
# (b)
dictObj2 = {"Bob":10, "Joe":34, "Will":77, "Limba":55, "Will":36, "XXXXX":100}

print("Limba" in dictObj2)
print(55 in dictObj2)
print("55" in dictObj2)
print("XXXXXX" in dictObj2)

dictObj2["Will"] = '_'.join(["I", "am", "ancient", "10", "years old"])
print(dictObj2["Will"])
print(dictObj2)
dictObj2.pop("Will")
print(dictObj2)

True
False
False
False
I_am_ancient_10_years old
{'Bob': 10, 'Joe': 34, 'Will': 'I_am_ancient_10_years old', 'Limba': 55, 'XXXXX': 100}
{'Bob': 10, 'Joe': 34, 'Limba': 55, 'XXXXX': 100}

In [7]:
dictObj2.pop()

TypeError: pop expected at least 1 argument, got 0

In [7]:
# (c)
print(dictObj)
print()
print(list(dictObj.keys()))
print()
print(list(dictObj.values()))
print()
print(list(dictObj.items()))
print()
dictObj["iter"]="INSTITUTE OF TECHNICAL EDUCATION & RESEARCH"
print(list(dictObj.keys()))
print()
print(list(dictObj.values()))
print()
print(list(dictObj.items()))
print()
print(dictObj)

{'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text', 10: 'New added value'}

['fruits', 'colors', 'int', 'float', 'string', 10]

[['banana', 'apple', 'guava', 'jackfruit'], ('red', 'blue', 'green'), 165, 99.56, 'some sample text', 'New added value']

[('fruits', ['banana', 'apple', 'guava', 'jackfruit']), ('colors', ('red', 'blue', 'green')), ('int', 165), ('float', 99.56), ('string', 'some sample text'), (10, 'New added value')]

['fruits', 'colors', 'int', 'float', 'string', 10, 'iter']

[['banana', 'apple', 'guava', 'jackfruit'], ('red', 'blue', 'green'), 165, 99.56, 'some sample text', 'New added value', 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH']

[('fruits', ['banana', 'apple', 'guava', 'jackfruit']), ('colors', ('red', 'blue', 'green')), ('int', 165), ('float', 99.56), ('string', 'some sample text'), (10, 'New added value'), ('iter', 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH')]

{'fruits': ['banana', 'apple', 'guava', 'jackfruit'], 'colors': ('red', 'blue', 'green'), 'int': 165, 'float': 99.56, 'string': 'some sample text', 10: 'New added value', 'iter': 'INSTITUTE OF TECHNICAL EDUCATION & RESEARCH'}

In [10]:
dictObj.update("b": "foo", "c": 12)
print(dictObj)

SyntaxError: invalid syntax (1521580157.py, line 1)

In [13]:
# (d)
myDict = {}
keyList = range(10)
valueList = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'G', 'I', 'J']
for key, value in zip(keyList, valueList):
    myDict[key] = value
myDict

{0: 'A',
 1: 'B',
 2: 'C',
 3: 'D',
 4: 'E',
 5: 'F',
 6: 'G',
 7: 'G',
 8: 'I',
 9: 'J'}

In [2]:
# (e) from collections import defaultdict

from collections import defaultdict
words = ['duck', 'apple', 'dog', 'bat', 'cat', 'cup', 'bar', 'atom', 'book', 'dance']
myDict = defaultdict(list)
for w in words:
    myDict[w[0]].append(w)
myDict

defaultdict(list,
            {'d': ['duck', 'dog', 'dance'],
             'a': ['apple', 'atom'],
             'b': ['bat', 'bar', 'book'],
             'c': ['cat', 'cup']})

 9. Develop Python Programs for the following below scenario.
    
 (a) Write a Python Program which will prompt user to ask enter his/her name, profession, mobile
 number, employment organization, email id etc. Once you receive the input values from the user
 programmatically store these values into Dictionary objects such as mobile number is the key and
 other details as tuple object. Try to enter details for at least 7 objects.

In [8]:
D={}
for i in range(2):
    n=str(input('Enter name:'))
    p=str(input('Enter profession:'))
    mNo=int(input('Enter mobile number:'))
    eO=str(input('Enter employment organization:'))
    eID=str(input('Enter email id:'))
    D[mNo]=(n,p,eO,eID)
#   t={mNo:(n,p,eO,eID)}
#   D.update(t)
print(D)

Enter name:Anish kumar
Enter profession:Data Scientist
Enter mobile number:1234567890
Enter employment organization:Google
Enter email id:anish123@gmail.com
Enter name:Shivam Kumar
Enter profession:Engineer
Enter mobile number:0987654321
Enter employment organization:amazon
Enter email id:shivam123@gmail.com
{1234567890: ('Anish kumar', 'Data Scientist', 'Google', 'anish123@gmail.com'), 987654321: ('Shivam Kumar', 'Engineer', 'amazon', 'shivam123@gmail.com')}

(b) Develop a Python program which will take lower limit +ve integer and higher limit +ve integer
 values from the user as user input(lower limit should be lesser than the higher limit). Following
 that calculate factors of those elements within the range and store them as key value pairs(dictionary
 object) such as the number is the key and factors are as values of a list object and display them.

In [43]:
D={}
ll=int(input('Enter lower limit: '))
hl=int(input('Enter higher limit: '))
for i in range(ll,hl+1):
    l=[]
    for j in range(1,i+1):
        if i%j==0:
            l.append(j)
    D[i]=tuple(l)
print(D)

Enter lower limit: 2
Enter higher limit: 9
{2: (1, 2), 3: (1, 3), 4: (1, 2, 4), 5: (1, 5), 6: (1, 2, 3, 6), 7: (1, 7), 8: (1, 2, 4, 8), 9: (1, 3, 9)}

In [9]:
l=int(input('Enter the lower limit: '))
u=int(input('Enter the upper limit: '))
D={}
def factor(n):
    l=[]
    for i in range(1,n+1):
        if n%i==0:
            l.append(i)
    return l
for i in range(l,u+1):
    D.update({i:factor(i)})
print(D)

Enter the lower limit: 2
Enter the upper limit: 9
{2: [1, 2], 3: [1, 3], 4: [1, 2, 4], 5: [1, 5], 6: [1, 2, 3, 6], 7: [1, 7], 8: [1, 2, 4, 8], 9: [1, 3, 9]}

(c) Modify the Question No. (a) to develop a Python program which will consider name as the key
 and rest values into tuple as the value. Without using any predefined sort() method use your own
 logic to sort them based on name and finally display them as output.

In [1]:
l=[]
for i in range (1):
    n=str(input('Enter his/her name: '))
    p=str(input('Enter profession: '))
    m=str(input('Enter mobile number: '))
    o=str(input('Enter employment organization: '))
    e=str(input('Enter emailID: '))
    D={n:(p,m,o,e)}
    l.append(D)
print(l)

Enter his/her name: Anish Kumar
Enter profession: Data Scientist
Enter mobile number: 1234567890
Enter employment organization: Google
Enter emailID: anish12345@gmail.com
[{'Anish Kumar': ('Data Scientist', '1234567890', 'Google', 'anish12345@gmail.com')}]

10. What is a Set Object in Python? Write different syntax, how we create a Set object? For the following questions create Set object of each scenario and display them as output.

 (a) Set of all cricket players currently working in Indian Cricket Team.

In [16]:
T={'Rohit Sharma','Virat Kholi','Jasprit Bumrah','KL Rahul','Ishan Kishan','Shardul Thakur','Mohammed Siraj','Ravichandran Ashwin','Prasidh Krishna','Shibman Gill','Shikhar Dhawan','Rituraj Gaikwad'}
print(T)

{'Shibman Gill', 'Virat Kholi', 'Prasidh Krishna', 'Ravichandran Ashwin', 'Ishan Kishan', 'Shikhar Dhawan', 'Shardul Thakur', 'Mohammed Siraj', 'Rohit Sharma', 'Rituraj Gaikwad', 'Jasprit Bumrah', 'KL Rahul'}

(b) Set of all 3rd semester courses.

In [19]:
c={'B.Tech','M.Tech.','BCA','MCA','MBBS','MD','MS','DM','MCh','BDS','MDS','B.V.Sc.&A.H.','BHMCT','MBA','B.Pharm.','M.Pharm'}
print(c)

{'MBA', 'MBBS', 'MCA', 'BHMCT', 'DM', 'MCh', 'M.Tech.', 'MD', 'MDS', 'B.Pharm.', 'BCA', 'MS', 'BDS', 'B.Tech', 'M.Pharm', 'B.V.Sc.&A.H.'}

(c) Set of all books you are following for this semester.

In [14]:
B={'Python for Data Analysis','Fundamental of Logic Design','Algorith Design','Problem solving in DSA','Probablity & Statistics for Engineers & Scientists','Principles of Economics'}
print(B)

{'Probablity & Statistics for Engineers & Scientists', 'Algorith Design', 'Problem solving in DSA', 'Fundamental of Logic Design', 'Principles of Economics', 'Python for Data Analysis'}

(d) Set of 10 integer objects(both-ve and +ve) which are divisible by 11.

In [17]:
s={11,22,33,-44,55,-66,77,-88,99,110}
print(s)

{33, 99, -88, 11, 77, 110, -44, 22, 55, -66}

(e) Set of words containing more than 3 vowels.

In [18]:
v={'prosopopoeia','Eunoia','Euouae','Queueing','cooeeing'}
print(v)

{'Queueing', 'prosopopoeia', 'Euouae', 'Eunoia', 'cooeeing'}

11. Predict the output of following instructions when typed in Jupyter Notebook Cell and note down every
 output in your assignment copy.

In [5]:
# (a) 
A = {5, 3, 1, 4, 4, 2, 3, 4, 5, "5", 2, "2", 7, "1"}
print(A)
B={"6", 3, 1, 3, "5", "2", 7, "1", 6, "9", 10, 9, "6"}
print(B)
print(type(A))
print(type(B))
A.add("55")
print(A)
D=B
print(D)
print(D==B)
print(D==A)

{1, 2, 3, 4, 5, '1', 7, '5', '2'}
{1, 3, 6, '1', 7, '5', '9', 10, 9, '2', '6'}
<class 'set'>
<class 'set'>
{1, 2, 3, 4, 5, '1', 7, '5', '2', '55'}
{1, 3, 6, '1', 7, '5', '9', 10, 9, '2', '6'}
True
False

In [6]:
# (b) 
C = A
C.union(D) # all unique term
print(C)
C.intersection(D) # common term
print(C)
print(D)
C.intersection_update(D)
print(C)
print(D)
C.update(D)
print(C)

{1, 2, 3, 4, 5, '1', 7, '5', '2', '55'}
{1, 2, 3, 4, 5, '1', 7, '5', '2', '55'}
{1, 3, 6, '1', 7, '5', '9', 10, 9, '2', '6'}
{1, 3, '1', 7, '5', '2'}
{1, 3, 6, '1', 7, '5', '9', 10, 9, '2', '6'}
{1, 3, '1', 7, 6, '5', '9', 10, 9, '2', '6'}

In [10]:
# (c) 
C.add(54)
print(C)
C.add("Sample Text")
print(C)
print(D)
C.difference(D)
print(C)
print(D)
C.difference_update(D)
print(C)
print(D)

{54, 'Sample Text'}
{54, 'Sample Text'}
{1, 3, 6, '1', 7, '5', '9', 10, 9, '2', '6'}
{54, 'Sample Text'}
{1, 3, 6, '1', 7, '5', '9', 10, 9, '2', '6'}
{54, 'Sample Text'}
{1, 3, 6, '1', 7, '5', '9', 10, 9, '2', '6'}

In [13]:
# (d) 
C.symmetric_difference(D)
print(C)
C.symmetric_difference_update(D)
print(C)
A.issubset(B)
A.issuperset(B)
A.isdisjoint(B)
print(A)
print(B)

{54, 'Sample Text'}
{1, 3, 6, 7, '9', 9, 10, '6', '1', '5', '2', 54, 'Sample Text'}
{1, 3, 6, 7, '9', 9, 10, '6', '1', '5', '2', 54, 'Sample Text'}
{1, 3, 6, '1', 7, '5', '9', 10, 9, '2', '6'}

In [1]:
# (e) 
X = {1, 2, 3, 4, 2, 3, 5, 6, 1, 2, 9, 8}
print(X)
Y.add(7)
Y.add(100.65)
Y.add("ITER")
Y.add(76.89)
print(Y)
print(Y|X)
print(Y&X)
print(Y-X)
print(Y^X)
print(Y)
print(X)
print(Y|=X)
print(Y&=X)
print(Y)
print(X)

{1, 2, 3, 4, 5, 6, 8, 9}

NameError: name 'Y' is not defined

 12. Develop Python Programs for the following below scenario.
    
 (a) Write a Python Program which will prompt user to enter 10 different sample inputs like integer/float/string/boolean/list/tuple/set/dictionary objects etc. and store them into a Set object. Find
 out all unique characters present in that set object.

(b) Develop a Python program which will prompt user to enter 15 positive numbers randomly (repetition
 allowed) and divide all those unique numbers into two different list objects such that one list contains prime numbers and another list contains composite numbers. Finally, display the output.

In [15]:
def isPrime(n):
    c=0
    if n<2:
        return False
    for i in range (1,n+1):
        if n%i==0:
            c=c+1
    if c==2:
        return True
    else:
        return False
PN=[]
CN=[]

for i in range(15):
    n=random.randint(0,100)
    if isPrime(n):
        PN.append(n)
    else:
        CN.append(n)
print('Prime no:',PN)
print('Complex no:',CN)

Prime no: [2, 17, 3, 47]
Complex no: [49, 15, 93, 90, 84, 12, 51, 36, 36, 63, 72]

(c) Develop a Python script which will prompt the user to enter 10 student details such as roll number, name, Physics Mark, Chemistry Mark, Mathematics mark as tuple objects and display them.
 Finally update those student details with adding fields such as total mark, average mark, status(pass
 if average mark is > 60) by adding student details as list of tuples and display the output.

In [ ]:
student_details = []
for i in range(10):
    roll_number = int(input("Enter roll number: "))
    name = input("Enter name: ")
    physics_mark = int(input("Enter Physics mark: "))
    chemistry_mark = int(input("Enter Chemistry mark: "))
    mathematics_mark = int(input("Enter Mathematics mark: "))

    total_mark = physics_mark + chemistry_mark + mathematics_mark
    average_mark = total_mark / 3
    status = "Pass" if average_mark > 60 else "Fail"

    student_details.append((roll_number, name, physics_mark, chemistry_mark, mathematics_mark, total_mark, average_mark, status))

print("Student details:")
for student in student_details:
    print(student)

In [ ]:
l=[]
for i in range (1):
    r=str(input('Enter roll number: '))
    n=str(input('Enter his/her name: '))
    p=str(input('Enter Physics Mark: '))
    c=str(input('Enter Chemistry Mark: '))
    m=str(input('Enter Mathematics mark: '))
    t=(r,n,p,c,m)
    l.append(t)
print(l)