# Assignment-7

Name: Anish kumar

Regd. no: 2241011101

Section: 2241007

1. Write a function in python to create a text file named as ‘states.txt’ and read its 
contents line by line and display the same on screen using- ‘with’ statement and 
without it.

In [10]:
def write_file():
    file=open("states.txt","w")
    file.write("Odisha\n")
    file.write("Bihar\n")
    file.write("Jharkhand\n")
    file.write("West Bengal\n")
    file.write("Maharastra\n")
    file.close()
write_file()
# "with"
def read_file():
    with open("states.txt","r") as file:
        for line in file:
            print(line,end="")
read_file()

Odisha
Bihar
Jharkhand
West Bengal
Maharastra

In [8]:
# "without"
def read_file():
    file=open("states.txt","r")
    for line in file:
        print(line,end="")
read_file()

Odisha
Bihar
Jharkhand
West Bengal
Maharastra

2. Create a ‘sales’ Data Frame consisting of 5 rows and the following column headings- 
product_id, product_name, sold_units, and profit. Sort the frame by ‘product_id’. 
Export it to CSV file using panda’s Data Frame delimited by ‘|’ with column headings- 
id, name, units, and gain. Read and display the first 3 rows of the same file.

In [42]:
import pandas as pd
data={'product_id':[1104,1102,1109,1100,1101],
      'product_name':['A','B','C','D','E'],
      'sold_units':[5,4,3,2,1],
      'profit':[6,7,8,9,0]}
sales=pd.DataFrame(data)
salesDF=sales.sort_values(['product_id'])
salesDF.to_csv('sales.csv',header=['id','name','units','gain'],sep='|',index=None)
pd.read_csv('sales.csv',sep="|").head(3)

     id name  units  gain
0  1100    D      2     9
1  1101    E      1     0
2  1102    B      4     7

3. Write a Python program to convert Python dictionary object (sort by key) to JSON 
data. Print the object members using indent level 4.

In [49]:
import json
D={'1':9,'7':2,'9':5,'4':0,'6':1}
json.dumps(D,sort_keys=True,indent=4)

'{\n    "1": 9,\n    "4": 0,\n    "6": 1,\n    "7": 2,\n    "9": 5\n}'

4. Write a program to create a JSON file with the following columns- name, branch, 
roll_number, and cgpa. Read the JSON file into a Data Frame and insert a new column 
‘grade’ according to ‘cgpa’-  

• If cgpa <= 2 then grade=’D’ 

• If cgpa > 2 & cgpa <= 5 then grade=’C’ 

• If cgpa > 5 & cgpa <= 8 then grade=’B’ 

• If cgpa > 8 then grade= 'A'

Save the updated Data Frame into JSON, HTML, XML, pickle, and Excel file formats. 
Read the contents of saved files into a Data Frame object and display it.

In [44]:
import pandas as pd
import json
D={'name':['Anish','Raj','Ayush','Suraj','Aman'],
   'branch':['DS','CSE','CSE','IoT','AI & ML'],
   'roll_number':[1101,1102,1103,1104,1105],
   'cgpa':[8.7,9.6,8.6,9,7]   
}
DJSON=json.dumps(D)
DJSON

'{"name": ["Anish", "Raj", "Ayush", "Suraj", "Aman"], "branch": ["DS", "CSE", "CSE", "IoT", "AI & ML"], "roll_number": [1101, 1102, 1103, 1104, 1105], "cgpa": [8.7, 9.6, 8.6, 9, 7]}'

In [45]:
with open("savedata.json","w") as file:
    file.write(DJSON)

df=pd.read_json("savedata.json")
df

    name   branch  roll_number  cgpa
0  Anish       DS         1101   8.7
1    Raj      CSE         1102   9.6
2  Ayush      CSE         1103   8.6
3  Suraj      IoT         1104   9.0
4   Aman  AI & ML         1105   7.0

In [46]:
import numpy as np
condition=[
    (df['cgpa']<=2),
    (df['cgpa']>2) & (df['cgpa']<=5),
    (df['cgpa']>5) & (df['cgpa']<=8),
    (df['cgpa']>8),
]
value=['D','C','B','A']
df['grade']=np.select(condition,value)
df

    name   branch  roll_number  cgpa grade
0  Anish       DS         1101   8.7     A
1    Raj      CSE         1102   9.6     A
2  Ayush      CSE         1103   8.6     A
3  Suraj      IoT         1104   9.0     A
4   Aman  AI & ML         1105   7.0     B

In [47]:
def grade_calculate(cgpa):
    if cgpa<=2:
        return 'D';
    elif 2< cgpa <=5:
        return 'C';
    elif 5< cgpa <=8:
        return 'B';
    else:
        return 'A';
df['grade']=df['cgpa'].apply(grade_calculate)
df

    name   branch  roll_number  cgpa grade
0  Anish       DS         1101   8.7     A
1    Raj      CSE         1102   9.6     A
2  Ayush      CSE         1103   8.6     A
3  Suraj      IoT         1104   9.0     A
4   Aman  AI & ML         1105   7.0     B

In [48]:
df.to_json("updatedData.json")

In [49]:
df.to_html("updatedData.html",index=None)
df.to_xml("updatedData.xml",index=None)
df.to_pickle("updatedData.pkl")
df.to_excel("updatedData.xlsx",index=None)


dfHTML=pd.read_html("updatedData.html")
print("HTML Data Frame:")
print(dfHTML)

dfXML=pd.read_xml("updatedData.xml")
print("XML Data Frame:")
print(dfXML)

dfPICKLE=pd.read_pickle("updatedData.pkl")
print("pickle Data Frame:")
print(dfPICKLE)

dfEXCEL=pd.read_excel("updatedData.xlsx")
print("Excel Data Frame:")
print(dfEXCEL)

HTML Data Frame:
[    name   branch  roll_number  cgpa grade
0  Anish       DS         1101   8.7     A
1    Raj      CSE         1102   9.6     A
2  Ayush      CSE         1103   8.6     A
3  Suraj      IoT         1104   9.0     A
4   Aman  AI & ML         1105   7.0     B]
XML Data Frame:
    name   branch  roll_number  cgpa grade
0  Anish       DS         1101   8.7     A
1    Raj      CSE         1102   9.6     A
2  Ayush      CSE         1103   8.6     A
3  Suraj      IoT         1104   9.0     A
4   Aman  AI & ML         1105   7.0     B
pickle Data Frame:
    name   branch  roll_number  cgpa grade
0  Anish       DS         1101   8.7     A
1    Raj      CSE         1102   9.6     A
2  Ayush      CSE         1103   8.6     A
3  Suraj      IoT         1104   9.0     A
4   Aman  AI & ML         1105   7.0     B
Excel Data Frame:
    name   branch  roll_number  cgpa grade
0  Anish       DS         1101   8.7     A
1    Raj      CSE         1102   9.6     A
2  Ayush      CSE         1103   8.6     A
3  Suraj      IoT         1104   9.0     A
4   Aman  AI & ML         1105   7.0     B

5. Write a function to search and display details of student whose grade is 'A' from the 
binary file student.pkl having structure [name, branch, roll_number, cgpa, and grade]

In [71]:
def search():
    file=open("updatedData.pkl","rb")
    try:
        record=pickle.load(file)
        print(record[record['grade']=='A'])
    except EOFError:
        pass
    file.close()

In [72]:
search()

    name branch  roll_number  cgpa grade
0  Anish     DS         1101   8.7     A
1    Raj    CSE         1102   9.6     A
2  Ayush    CSE         1103   8.6     A
3  Suraj    IoT         1104   9.0     A

method-2

In [64]:
import pickle
import pandas as pd
D={'name':['Anish','Raj','Ayush','Suraj','Aman'],
   'branch':['DS','CSE','CSE','IoT','AI & ML'],
   'roll_number':[1101,1102,1103,1104,1105],
   'cgpa':[8.7,9.6,8.6,9,7],
   'grade':['A','A','A','A','B']
}
Dpickle=pickle.dumps(D)

6. A binary file "Book.pkl" has structure [BookNo, Book_Name, Author, Price]. 

• Write a user defined function createFile() to input data for a record and add to 
Book.pkl. 

• Write a function countRec(Author) in Python which accepts the Author name as 
parameter and count and return number of books by the given Author are stored in 
the binary file "Book.pkl"

In [79]:
import pickle
def createFile():
    file=open("Book.pkl","ab")
    BookNo=int(input("Enter book number:"))
    Book_Name=str(input("Enter book name:"))
    Author=str(input("Enter author:"))
    Price=str(input("Enter price:"))
    record=[BookNo,Book_Name,Author,Price]
    pickle.dump(record,file)
    file.close()

def countRec(Author):
    file=open("Book.pkl","rb")
    count=0
    try:
        while True:
            record=pickle.load(file)
            if record[2]==Author:
                count=count+1;
    except EOFError:
        pass
    return count
    file.close()

def testProgram():
    while True:
        createFile()
        choice=input("Add more record (y/n)?")
        if choice in 'Nn':
            break
    Author=input('Enter author name to search:')
    n=countRec(Author)
    print("No of books are",n)
testProgram()

Enter book number:1
Enter book name:z
Enter author:a
Enter price:10
Add more record (y/n)?n
Enter author name to search:a
No of books are 4